/* General Header Styling */
.header {
  width: 100%;
  height: 60px;
  background-color: #0f0f0f; /* Dark background like YouTube */
  color: white;
  display: flex;
  border-bottom: 1px solid white;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000; /* Ensure header is above other content */
}

.header__left {
  display: flex;
  align-items: center;
}

.header__sidebarButton {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  margin-right: 15px;
  cursor: pointer;
}

.header__logoContainer {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 30px;
  height: 30px;
}

.header__logoText {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
  margin-top: 18px;
  color: white;
}

.header__center {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header__searchInput {
  width: 40%;
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.header__searchIcon {
  font-size: 22px;
  margin-left: -35px;
  cursor: pointer;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__icon {
  font-size: 20px;
  margin-left: 15px;
  cursor: pointer;
}
