/* Sidebar Styling */
.sidebar {
  width: 240px;
  height: 100%;
  background-color: #0f0f0f; /* Dark background like YouTube */
  color: white;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  position: fixed;
  top: 60px; /* Sidebar starts below the header */
  left: 0;
  z-index: 10;
  overflow-y: auto;
  padding-bottom: 100px; /* Ensures footer is visible */
  display: flex;
  flex-direction: column;
}

/* Sidebar Scrollbar Removal */
.sidebar::-webkit-scrollbar {
  display: none;
}

/* Sidebar Item Styling */
.sidebar__item {
  list-style: none;
  padding: 12px 6px;
  margin-left: -16px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar__item:hover {
  background-color: #383838;
  border-radius: 30%;
  color: #fff;
}

.sidebar__icon {
  font-size: 20px;
  margin-right: 15px; /* Space between icon and text */
}

.sidebar__divider {
  border: none;
  border-top: 1px solid #fffafa;
  margin: 10px 0;
}

.sidebar__footer {
  font-size: 12px;
  color: #aaa;
  margin-top: 20px;
  padding: 0 20px;
  line-height: 1.5;
}

.sidebar__title {
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  padding: 20px 0px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
}
